* {
    font-family: 'poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    position: relative;
}
header {
    background: #ffff;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 0px 30px;
    border-bottom: 1px solid black;
}
header .logo {
    font-size: 40px;
    color: brown;
    font-weight: bold;
}
header li {
    display: inline-block;
    list-style: none;
    padding-right: 20px;
}
header a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: brown;
    font-weight: bold;
}
header a:hover {
    color: red;
}
header a::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    background-color:skyblue;
    bottom: -10px;
    left: 0;
}
header a:hover::after {
    width: 100%;
    transition: 0.3s ease;
}
main {
    position: relative;
    z-index: -1;
    top: 80px;
    width: auto;
}
#welcome {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}
#welcome video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.wlcm-content {
    text-align: center;
}
.wlcm-content h1 {
    font-size: 100px;
    font-weight: 600;
    color: white;
    transition: 0.5s;
}
.wlcm-content h1 span {
    color: red;
}
.wlcm-content p {
    font-size: 25px;
    font-style: italic;
    padding-top: 5%;
    line-height: 35px;
    color: white;
}
#wellness-pkg {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 602px;
    height: 600px;
    width: 100%;
    padding-top: 1%;
    background-color: lightgrey;
}
.nutri-card {
    position: relative;
    left: 200px;
    box-sizing: border-box;
}
.fitness-card {
    position: relative;
    right: 200px;
}
#wellness-pkg h1 {
    text-align: center;
    font-size: 30px;
    color: brown;
}
#wellness-pkg .nutri-card:hover{
    color: white;
}
#wellness-pkg .fitness-card:hover{
    color: white;
}
#wellness-pkg .nutri-card:hover img{
    height: 530px;
    transition: 0.3s ease-in-out;
}
#wellness-pkg .nutri-card:hover p {
    background: rgba(0, 0, 0, 0.7);
    visibility: visible;
    transition: 0.3s ease-in-out;
}
#wellness-pkg .fitness-card:hover img{
    height: 530px;
    transition: 0.3s ease-in-out;
}
#wellness-pkg .fitness-card:hover p {
    background: rgba(0, 0, 0, 0.7);
    visibility: visible;
    transition: 0.3s ease-in-out;
}
#wellness-pkg img {
    border-radius: 20px;
    height: 500px;
    margin-top: 10%;
    box-shadow: -10px -10px 10px black;
}
#wellness-pkg p {
    position: absolute;
    top: 250px;
    text-align: center;
    font-size: 23px;
    font-style: italic;
    visibility: hidden;
}
#about {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 1204px;
}
#about .profile {
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 0;
}
#about img {
    height: 250px;
    border-radius: 50%;
    margin-bottom: 5%;
}
#about h3 {
    margin-bottom: 2%;
}
#about .profile p {
    font-style: italic;
}
#about .info {
    justify-content: space-between;
    align-items: center;
    /*margin-left: 20px;*/
    margin-left: 50px;
    padding: 20px;
    right: 0;
    /*background-color: blueviolet;*/
}
#about h1 {
    font-size: 40px;
    margin-bottom: 2%;
    color: brown;
}
#about .info p {
    font-size: 20px;
    font-style: italic;
    line-height: 35px;
}
@media (min-aspect-ratio: 16/9){
    #welcome video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    #welcome video{
        width: auto;
        height: 100%;
    }
}